/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*=============== VARIABLES CSS ===============*/
:root{
   /*========== Colors ==========*/
   /*Color mode HSL(hue, saturation, lightness)*/
   --white-color: #fff;
   --black-color: hsl(210, 12%, 15%);
   --body-color: hsl(210, 16%, 12%);
   --container-color: hsl(210, 24%, 8%);

   /*========== Font and typography ==========*/
   /*.5rem = 8px | 1rem = 16px ...*/
   --body-font: 'Poppins', sans-serif;

   --h2-font-size: 1.25rem;
   --normal-font-size: .938rem;

   // Responsive typography
   @media screen and (min-width: 1024px){
      --h2-font-size: 1.5rem;
      --normal-font-size: 1rem;
   }
}